:root {
  --primary-text-color: #212121;
  --title-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --accent-colour: #2196f3;
  --button-color: #2196f3;
  --white-color: #ffffff;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
}

.logo_left {
  color: var(--accent-colour);
}

.button {
  color: var(--white-color);
  background-color: var(--button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition: background-color var(--transition-dur-and-func);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-colour);
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.page-header {
  outline: 1px solid #ececec;
}

.page-header__wrapper {
  height: 80px;
}

.page-header__wrapper,
.page-header__navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 93px;
}

.menu__item + .menu__item {
  margin-left: 50px;
}

.menu__link {
  color: var(--primary-text-color);
}

.menu__link_current {
  color: var(--accent-colour);
  position: relative;
}
.menu__link_current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact__item + .contact__item {
  margin-left: 50px;
}

.menu__link,
.contact__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-dur-and-func);
}
.menu__link:hover, .menu__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-colour);
}

.contact__link {
  color: var(--paragraph-text-color);
  display: flex;
  align-items: center;
}

.contact__icon {
  fill: var(--paragraph-text-color);
  margin-right: 10px;
  transition: fill var(--transition-dur-and-func);
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: var(--accent-colour);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__wrapper {
  display: flex;
}

.contact-list {
  margin-right: 70px;
}

.logo_footer {
  color: var(--white-color);
  display: inline-block;
  margin-bottom: 20px;
}

.address-list__item.city, .address-list__item.email {
  margin-bottom: 9px;
}
.address-list__item.phone {
  margin: 0;
}

.address-list__city-address {
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
}

.address-list__email-link,
.address-list__phone-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  transition: color var(--transition-dur-and-func);
}

.address-list__email-link_focus:hover,
.address-list__email-link_focus:focus,
.address-list__phone-link_focus:hover,
.address-list__phone-link_focus:focus {
  color: var(--accent-colour);
}

.socials-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  display: block;
  padding-top: 12px;
}

.social-list__link_color {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.subscribe-form {
  margin-left: 93px;
}

.subscribe-form__title {
  color: var(--white-color);
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
  padding-top: 12px;
  margin-bottom: 20px;
}

.subscribe-form__input {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.subscribe-form__input:focus {
  outline: transparent;
}

.button_footer {
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  display: inline-flex;
  position: relative;
}

.subscribe-form__text {
  margin-right: 10px;
}

.subscribe-form__icon {
  position: absolute;
  top: 13px;
  left: 148px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: inherit;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.12);
  padding: 40px;
}

.modal-window__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: fill var(--transition-dur-and-func);
}
.modal-window__close-btn:hover, .modal-window__close-btn:focus {
  fill: var(--accent-colour);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}

.contact-form__field {
  margin-bottom: 10px;
}

.contact-form__element-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--paragraph-text-color);
}

.contact-form__input-wrapper {
  position: relative;
  display: block;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  padding-right: 10px;
  transition: border-color var(--transition-dur-and-func);
}
.contact-form__input:focus {
  outline: none;
  border-color: var(--accent-colour);
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill var(--transition-dur-and-func);
}
.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-colour);
}

.contact-form__label {
  margin-bottom: 20px;
}

.contact-form__message {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  border-radius: 2px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  transition: border-color var(--transition-dur-and-func);
}
.contact-form__message:focus {
  outline: none;
  border-color: var(--accent-colour);
}

.contact-form__checkbox-desc {
  font-weight: 400;
  line-height: 1.71;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.contact-form__checkbox-square {
  display: block;
  width: 15px;
  height: 14px;
  border-radius: 3px;
  border: 2px solid #000000;
  margin-right: 8px;
  cursor: pointer;
  position: relative;
}

.contact-form__checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translate(-3px, -2px);
  transition: var(--transition-dur-and-func);
}
.contact-form__checkbox:checked + .contact-form__checkbox-icon {
  opacity: 1;
}

.contact-form__user-policy-text {
  color: var(--paragraph-text-color);
}

.contact-form__user-policy-link {
  color: var(--accent-colour);
}

.contact-form__submit-btn {
  min-width: 200px;
  min-height: 50px;
  align-self: center;
  padding: 10px 52px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
}

.button_hero {
  padding: 10px 32px;
  min-width: 216px;
}

.feature-section {
  padding-bottom: 47px;
}

.feature-list {
  display: flex;
}

.feature-list__item {
  width: 270px;
  margin-right: 30px;
}
.feature-list__item:last-child {
  margin-right: 0;
}

.feature-list__img {
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
  padding: 25px 100px;
}

.feature-list__title {
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
}

.feature-list__description {
  color: var(--paragraph-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  margin-top: 0;
  margin-bottom: 0;
}

.work-section {
  padding-top: 47px;
}

.work-list {
  display: flex;
}

.work-list__item {
  width: 370px;
  margin-right: 30px;
}
.work-list__item:last-child {
  margin-right: 0;
}

.work-list__description {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.work-list__description::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.work-list__title {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list__item {
  background-color: #ffffff;
  border-radius: 0 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.12);
  width: 270px;
  margin-right: 30px;
}
.team-list__item:last-child {
  margin-right: 0;
}

.team-list__text {
  padding: 30px 32px;
  text-align: center;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-list__profession {
  color: var(--paragraph-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  margin: 0;
  margin-bottom: 16px;
}

.client-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  fill: #afb1b8;
  transition: outline var(--transition-dur-and-func);
}
.client-list__link:hover, .client-list__link:focus {
  outline: 1px solid var(--accent-colour);
}

.client-list__icon {
  transition: fill var(--transition-dur-and-func);
}
.client-list__link:hover .client-list__icon, .client-list__link:focus .client-list__icon {
  fill: var(--accent-colour);
}

.button-list {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}

.button-list__item {
  margin-right: 8px;
}

.button-list__item:last-child {
  margin-right: 0;
}

.button_tab {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button_tab:hover, .button_tab:focus {
  background-color: var(--button-color);
  color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.12);
}

.button_current {
  background-color: var(--button-color);
  color: var(--white-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-list__item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow var(--transition-dur-and-func);
}
.project-list__item:hover, .project-list__item:focus {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.12);
}
.project-list__item:nth-child(3n) {
  margin-right: 0;
}
.project-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project-list__description {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-list__overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}
.project-list__item:hover .project-list__overlay {
  transform: translateY(0);
}
.project-list__description:hover .project-list__overlay {
  opacity: 1;
}

.project-list__paragraph {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding: 63px 24px;
  position: absolute;
  display: flex;
}
.project-list__paragraph:hover {
  opacity: 1;
}

.project-list__text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.project-list__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.project-list__describe {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}/*# sourceMappingURL=main.css.map */