.client-list {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.client-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    outline: 1px solid #afb1b8;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    fill: #afb1b8;

    transition: outline var(--transition-dur-and-func);

    &:hover,
    &:focus {
        outline: 1px solid var(--accent-colour);
    }
}

.client-list__icon {
    transition: fill var(--transition-dur-and-func);

    .client-list__link:hover &,
    .client-list__link:focus & {
        fill: var(--accent-colour);
    }
}