.feature-section {
  padding-bottom: 47px;
}

.feature-list {
  display: flex;
}

.feature-list__item {
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.feature-list__img {
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
  padding: 25px 100px;
}


.feature-list__title {
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
}

.feature-list__description {
  color: var(--paragraph-text-color);

  @include font(400, 14px, 24px);
  // font-weight: 400;
  // line-height: 1.71;

  margin-top: 0;
  margin-bottom: 0;
}
