.team-section {
    background-color: #f5f4fa;
}

.team-list {
    display: flex;
}

 .team-list__item {
    background-color: #ffffff;

    border-radius: 0 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
        0 2px 1px rgba(0, 0, 0, 0.12);

    width: 270px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.team-list__text {
    padding: 30px 32px;
    text-align: center;
}

.team-list__name {
    @include font(500, 16px, 19px);
    // font-weight: 500;
    // font-size: 16px;
    // line-height: 1.19;

    margin-top: 0;
    margin-bottom: 10px;
}

.team-list__profession {
    color: var(--paragraph-text-color);

    @include font(400, 16px, 19px);
    // font-size: 16px;
    // line-height: 1.19;

    margin: 0;
    margin-bottom: 16px;
}

.team-list__social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.team-list__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);

    transition: background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        background-color: var(--accent-colour);
    }
}

.team-list__social-icon {
    fill: #afb1b8;

    transition: fill var(--transition-dur-and-func);

    .team-list__social-link:hover &,
    .team-list__social-link:focus & {
        fill: #ffffff;
    }
}